# Python
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# dbt
target/
dbt_packages/
dbt_modules/
logs/
*.log
**/target/
**/dbt_packages/
**/dbt_modules/
**/logs/

# IDE
.vscode/
.idea/
.DS_Store

# Credentials
*.json
.env
profiles.yml

# SQLite or DuckDB
*.db
*.db-journal

# Jupyter Notebook
.ipynb_checkpoints/

# Python
.python-version
pip-debug-log.mask
